<?xml version="1.0"?>
<robot name="gazebo_macro" xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="gazebo_macro" params="color laser_visual camera_visual imu_visual">
<!--  <xacro:arg name="laser_visual"  default="false"/>-->
<!--  <xacro:arg name="camera_visual" default="false"/>-->
<!--  <xacro:arg name="imu_visual"    default="false"/>-->

  <gazebo reference="base_link">
<!--    <material>Gazebo/DarkGrey</material>-->
    <material>Gazebo/${color}</material>
  </gazebo>



  <gazebo reference="base_link">
  <gravity>0</gravity>
    <sensor name="base_link" type="contact">
      <update_rate>1000.0</update_rate>
      <always_on>true</always_on>
      <contact>
        <collision>base_footprint_fixed_joint_lump__base_link_collision_collision</collision>
      </contact>
      <plugin name="base_link_contact_sensor_plugin" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>contact</bumperTopicName>
        <frameName>world</frameName>
      </plugin>
    </sensor>
  </gazebo>




</xacro:macro>
</robot>
