torch==1.11.0
opencv_contrib_python==4.5.4.60
sensor_msgs==1.13.1
pandas==0.25.3
tf==1.13.2
pyrr==0.10.3
cv_bridge==1.16.0
tf2_ros==0.7.5
interactive_markers==1.12.0
colorama==0.4.3
numpy==1.17.4
rospy==1.15.14
scipy==1.3.3
PyYAML==6.0
scikit_learn==1.0.2
