<launch>
    <arg name="model3d_config"/>

    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find localbot_core)/config/synfeal.rviz" required="false">
    </node>

    <!-- Sleep 1 is to give time for the spawn to be finished-->
    <node name="path_planning" pkg="localbot_core" type="path_planning_vis_v2" args="-mc $(arg model3d_config)" output='screen'/> 
    
</launch>