<launch>
    <arg name="name" default="localbot"/>
    <arg name="color" default="Grey"/>
    <arg name="x_pos" default="0.0"/>
    <arg name="y_pos" default="0.0"/>
    <arg name="z_pos" default="0.5"/>
    <arg name="rviz" default="true"/>

    <!--Load robot xacro into robot_description ros parameter.-->
    <param name="robot_description" command="$(find xacro)/xacro '$(find localbot_description)/urdf/localbot.urdf.xacro'
                                                 name:=$(arg name) color:=$(arg color)"/>


    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <include file="$(find localbot_bringup)/launch/spawn.launch">
        <arg name="name" value="$(arg name)"/>
        <arg name="x_pos" default="$(arg x_pos)"/>
        <arg name="y_pos" default="$(arg y_pos)"/>
        <arg name="z_pos" default="$(arg z_pos)"/>
    </include>

    <group if="$(eval arg('rviz') == true)">
        <include file="$(find localbot_bringup)/launch/visualize.launch"/>
    </group>

    <!-- throttle because otherwise there are redundant tfs-->
    <node name="throttle" pkg="topic_tools" type="throttle" args= "messages /gazebo/model_states 10 /gazebo/model_states_throttle" output='screen' />
    <!-- Sleep 1 is to give time for the spawn to be finished-->
    <node name="model_states_to_tf" pkg="localbot_gazebo" type="model_states_to_tf.py" launch-prefix="bash -c 'sleep 1; $0 $@' " output = 'screen' /> 
    
    

</launch>