<launch>
    <arg name="train"/>
    <arg name="test"/>

    <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find synfeal_visualization)/config/visualize_train_test_dataset.rviz" required="false">
    </node>

    <!-- Sleep 1 is to give time for the spawn to be finished-->
    <node name="visualize_dataset" pkg="synfeal_visualization" type="visualize_train_test_dataset" args="--train $(arg train) --test $(arg test)" output='screen'/> 
    
</launch>