<?xml version="1.0" ?>
<robot name="localbot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!--  Xacro description of turtlebot robot waffle pi used to play team hunt.-->
  <!--  Miguel Riem Oliveira-->
  <!--  PARI, November 2020-->

  <!--Args are local, properties are global, so we copy the values of the arguments to the properties-->
  <xacro:arg name="name" default="localbot" />
  <xacro:arg name="color" default="Orange" /> <!-- e.g. Red, Orange. Must exist in Gazebo/Colors and be defined in properties.xacro.-->

  <!--Properties are global so they can be viewed from inside the included xacros-->
  <!--  args are used with $(arg arg_name), properties are used as ${property_name}-->
  <xacro:property name="name" value="$(arg name)"/>
  <xacro:property name="color" value="$(arg color)"/>

  <!-- Include other files-->
  <xacro:include filename="$(find localbot_description)/urdf/properties.xacro"/>
  <xacro:include filename="$(find localbot_description)/urdf/VLP-16.urdf.xacro"/>
  <xacro:include filename="$(find localbot_description)/urdf/astra.urdf.xacro" />


  <xacro:include filename="$(find localbot_description)/urdf/localbot.gazebo.macro.xacro"/>
  <xacro:gazebo_macro color="$(arg color)" laser_visual="false" camera_visual="false" imu_visual="true"/>


  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link" />
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
  </link>

  <xacro:sensor_astra prefix="camera" parent="base_link">
    <origin xyz="0.00 0.00 1.00" rpy="0 0.0 0" />
  </xacro:sensor_astra>

</robot>